.main{
    color: aqua;
 }
 
 .NA-sa {
    display: block;
    background-color: rgba(65, 153, 248, 0.2);
    box-shadow: 5px 5px 8px 8px rgba(1, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.3s;
    padding: 50px;
    margin: 20px;
    font-size: 20px;
 }

 p {
   display: flex;
   margin: 10%;
   color: aqua;
   font-family: "Press Start 2P", sans-serif;
 }
 
 